<?xml version='1.0' encoding='utf-8'?>
<widget id="it.iluoghidellarete.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>I Luoghi della Rete</name>
    <description>
        Il mio modo di essere connesso.
    </description>
    <author email="info@blankwebagency.com" href="https://blankwebagency.com">
        _blank | Digital Creative Agency
    </author>
    <content src="index.html" />
    <access origin="*" />
  	<allow-intent href="http://*/*" />
		<allow-intent href="https://*/*" />
		<allow-intent href="tel:*" />
		<allow-intent href="sms:*" />
		<allow-intent href="mailto:*" />
		<allow-intent href="geo:*" />
		<allow-intent href="*://*.iluoghidellarete.it/*" />
		<allow-intent href="*://*politicheantidroga.gov.it/*" />

     <icon src="www/res/icon/icon.png" />
  	 <platform name="android" >
		  <allow-intent href="market:*" />
      <icon src="www/res/icon/android/drawable-ldpi-icon.png" density="ldpi" />
      <icon src="www/res/icon/android/drawable-mdpi-icon.png" density="mdpi" />
      <icon src="www/res/icon/android/drawable-hdpi-icon.png" density="hdpi" />
      <icon src="www/res/icon/android/drawable-xhdpi-icon.png" density="xhdpi" />
      <icon src="www/res/icon/android/drawable-xxhdpi-icon.png" density="xxhdpi" />
      <icon src="www/res/icon/android/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
		 </platform>
		 <platform name="ios" >
		  <allow-intent href="itms:*" />
		  <allow-intent href="itms-apps:*" />
      <!-- iOS 8.0+ -->
      <!-- iPhone 6 Plus  -->
      <icon src="www/res/icon/ios/icon-60@3x.png" width="180" height="180" />
      <!-- iOS 7.0+ -->
      <!-- iPhone / iPod Touch  -->
      <icon src="www/res/icon/ios/icon-60.png" width="60" height="60" />
      <icon src="www/res/icon/ios/icon-60@2x.png" width="120" height="120" />
      <!-- iPad -->
      <icon src="www/res/icon/ios/icon-76.png" width="76" height="76" />
      <icon src="www/res/icon/ios/icon-76@2x.png" width="152" height="152" />
      <!-- iOS 6.1 -->
      <!-- Spotlight Icon -->
      <icon src="www/res/icon/ios/icon-40.png" width="40" height="40" />
      <icon src="www/res/icon/ios/icon-40@2x.png" width="80" height="80" />
      <!-- iPhone / iPod Touch -->
      <icon src="www/res/icon/ios/icon.png" width="57" height="57" />
      <icon src="www/res/icon/ios/icon@2x.png" width="114" height="114" />
      <!-- iPad -->
      <icon src="www/res/icon/ios/icon-72.png" width="72" height="72" />
      <icon src="www/res/icon/ios/icon-72@2x.png" width="144" height="144" />
      <!-- iPhone Spotlight and Settings Icon -->
      <icon src="www/res/icon/ios/icon-small.png" width="29" height="29" />
      <icon src="www/res/icon/ios/icon-small@2x.png" width="58" height="58" />
      <!-- iPad Spotlight and Settings Icon -->
      <icon src="www/res/icon/ios/icon-50.png" width="50" height="50" />
      <icon src="www/res/icon/ios/icon-50@2x.png" width="100" height="100" />
		 </platform>
</widget>
